.projects {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 50px;
}

.project-card {
    width: 23%;
    margin: 20px;
}

.cardEffect:hover {
    box-shadow: 0 10px 40px;
    cursor: pointer;
}

.cardEffect:active {
    box-shadow: 0 0 10px black inset;
}

.title {
    text-align: center;
    margin: 15px;
}
.link{
    text-decoration: none;
    color: black;
}
.repo{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
