.projects{
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
}

.project-card {
    width: 33%;  
    margin: 20px;
}

.cardEffect:hover {
    box-shadow: 0 10px 40px;
}

.cardEffect:active {
    box-shadow: 0 0 10px black inset;
}